
<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive tabs-color-dark" ng-cloak>

  <ion-tab title="Discover" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/discover">
    <ion-nav-view name="tab-discover"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Wishlist" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" href="#/tab/wishlist">
    <ion-nav-view name="tab-wishlist"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ticket" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/ticket">
    <ion-nav-view name="tab-ticket"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title="Chats" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
 -->
  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
