<!--
<ion-view view-title="Discover">
  <ion-content>
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-background-dark tabs-color-light">
      <ion-tab title="Today" href="#/tab/discover/today">
        <ion-nav-view name="tab-discover-today"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Tomorrow" href="#/tab/discover/tomorrow">
        <ion-nav-view name="tab-discover-tomorrow"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Upcoming" href="#/tab/discover/upcoming">
        <ion-nav-view name="tab-discover-upcoming"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view> -->

<ion-view title="Discover">
  <ion-content>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
  </ion-content>
</ion-view>
